.img-load-late {
	background: url('/workless/images/image.png');
}

.workless-calendar-event {
	border: 1px solid #777;
	padding: 5px;
	cursor: pointer;
	background: #c33;
}

.workless-calendar-confirmed {
	background: #33a;
}

.workless-calendar-accepted {
	background: #3a3;
}

.workless-icon {
	font-size: 64px;
}

.workless-file-buttons {
	position: absolute;
	right: 24px;
	top: 4px;
	display: none;
}

.workless-file-item:hover > .workless-file-buttons {
	display: block;
}

.workless-files a {
	text-decoration: none;
}

.workless-files .img-lazyload {
	visibility: hidden;
}

#workless-files-upload {
	position: relative;
	color: #333;
	cursor: pointer
}

#workless-files-upload:hover {
	border: 1px solid #000;
}

#workless-files-upload .progress {
	margin: 9px;
	display: none;
}

#workless-files-upload .progress-bar {
	color: #000;
}

input[type=file] {
	position: absolute;
	border: 1px solid #000;
	z-index: 999;
	opacity: 0.0;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;
}

.bin-upload-files {
	cursor: pointer
}


/* document */

#worksite-document table {
	table-layout: fixed;
}

#worksite-document input:not(.form-control) {
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 2px;
}


/* admin */

.workless-project-users-list {
	list-style-type: none;
	margin: 10px;
	padding: 0px;
}


/* printing */

@media print {
	#worksite-document input:not(.form-control) {
		border: 0;
		padding: 0;
		height: auto;
	}
	#worksite-document textarea {
		border: 0;
		padding: 0;
		height: 100%;
	}
	.list-group li {
		border: 0px;
		padding: 0px;
		margin: 0px;
	}
}